{{#if display}}

    <div id="google-places" class="ui segments fullscreen">
        <div class="ui segment">
            <div class="top-section">
                <div class="floated right">
                  {{#if place.types}}
                    {{getType}}
                  {{/if}}
                </div>
            </div>
            <div class="">
                <iframe
                        width="100%"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC5FOY5oJRLhMF5OzY2A__zM8gM47MXfYg&zoom=15&q=place_id:{{place.place_id}}"
                        allowfullscreen>
                </iframe>
            </div>
          {{#if place.name}}
              <div class="place-name ui center"><h2>{{place.name}}</h2></div>
          {{/if}}
          {{#if place.formatted_address}}
              <div class="place-adress"><i class="pin icon"></i><i>{{place.formatted_address}}</i></div>
          {{/if}}
          {{#if place.formatted_phone_number}}
              <div class="place-country"><i class="text telephone icon"></i><i>{{place.formatted_phone_number}}</i>
              </div>
          {{/if}}
          {{#if place.rating}}
              <div class="place-rating"><i class="star icon"></i>{{place.rating}} / 5</div>
          {{/if}}
        </div>
        <div class="ui horizontal segments">
            <div class="ui segment">
              {{#if place.reviews}}
                  <div class="ui list">
                    {{#each showReviews as |review|}}
                        <div class="item">
                          <i>"{{review.text}}"</i>
                            <span>-{{review.author_name}}</span>
                            <span>{{review.rating}} / 5</span>
                        </div>
                    {{/each}}
                  </div>
              {{/if}}
            </div>
            <div class="ui segment">
                <h5>Hours</h5>
                <div class="ui list">
                  {{#each place.opening_hours.weekday_text as |hours|}}
                      <div class="item">
                        {{hours}}
                      </div>
                  {{/each}}
                </div>
            </div>
        </div>

    </div>

{{/if}}


