{{!--  This is bad, the css is in /board/view, must move to here some time --}}
<div class="title">
  {{topic.name}}
</div>
<div class="content" data-id="{{topic.topicId}}">
  {{#if topic.suggestions}}
    {{#each topic.suggestions as |suggestion|}}
        {{board-suggestion action=action suggestion=suggestion}}
    {{/each}}
  {{else}}
      No suggestions found, start by entering one below
  {{/if}}
    <div class="add-suggestion">
        <div class="suggestion-input">
            <div class="ui input the-suggestion">
              {{input type="text" id=uniqueTextBox placeholder='Enter new suggestion'  value=newSuggestion}}
            </div>
        </div>
        <div class="suggestion-add-input">
            <button class="ui button add-button" onclick={{action 'addSuggestion'}}>
                <i class="plus icon"></i></button>
        </div>
    </div>
</div>
