{{!--  This is bad, the css is in /board/view, must move to here some time --}}

<div class="ui horizontal clearing segment" data-id="{{suggestion.suggestionId}}" {{action 'loadPlaceDetails' suggestion.placeId}}>
    <div class="ui suggestion-vote">
      <div class="ui vertical buttons">
      <button class="ui button suggestion-button suggestion-up" {{action 'vote' true}} disabled={{disableYes}}><i class="arrow up icon"></i></button>
      <button class="ui button suggestion-button suggestion-down" {{action 'vote' false}} disabled={{disableNo}}><i class="arrow down icon"></i></button>
      </div>
    </div>
    <div class="ui suggestion-ok">
      {{suggestion.voteCount}} <i class="green check icon"></i>
    </div>
    <div class="ui suggestion-name">
        <p>
          {{suggestion.name}}
        </p>
    </div>
</div>
